{% extends "polls/base.html" %}
{% block mytitle %}{{ question.text }}{% endblock %}
{% block mycontent %}
<center>
<h1>{{ question.text }}</h1>

<form method="post" action="/polls/{{ question.id }}/vote/">
{% csrf_token %}

    {% for ch in question.choice_set.all %}
        <p>
            <input type="radio" name="choice" value="{{ ch.id }}">
            <b>{{ ch.text }} - {{ ch.vote }}</b>
        </p>
    {% endfor %}
    <input type="submit" value="Submit Vote">
</form>
</center>
{% endblock %}

