{% extends "polls/base.html" %}

{% block mycontent %}
    {% for q in questions %}
        <p>
        <a href="/polls/{{ q.id }}"> {{ q.text }} </a>
        </p>
    {% endfor %}
{% endblock %}

{%  block mytitle %}List page{% endblock %}
